/** this is the style sheet for all pages **/

/*.title{*/
/*text-align: center;*/
/*background-color: #ebebeb;*/

/*}*/

/*.headers{*/
/*font-family: 'Raleway', sans-serif;*/
/*font-weight: 100;*/
/*color:#1f648b;*/

h1.dashboardContainers{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 167px;
    font-size: 70px;

}
h2.dashboardContainers{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 189px;
    font-size: 50px;

}

body,html{
    height: 100%;
}

.sidebarNav{
    width: 80px;
    height: 100%;
    display: block;
    top: 0px;
    left: 0px;
    position: absolute;
    background: #34495e;
}

h1.dashIcons{
    font-size: 100px;
    text-align: center;
    padding-top: 30px;

}

td.dashWatchItem{
    font-weight: 600;
    color: #34495e;
    font-size: 20px;
}
span.dashBorder{
    border-radius: 110px;
    border: 2px dashed orange;
    padding: 40px;
}

.navbarMargin{
    margin-left: 90px;
    /*margin-right: 1%;*/
}
.bestShareDiv{
    margin-left: 0px;

}

.container-fluid{
    padding-left: 6.5px;
}
.allshares_info {
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    width:100%;
padding-bottom: 10px;

}

.glyphicon.glyphicon-triangle-top{
    color: green;

}

.glyphicon.glyphicon-triangle-bottom{
    color: red;

}

h1.company-value{
    text-align: center;
    font-weight: 400;
}

h4.company-info-headings{
    font-weight: 600;
}

.graph-container{
    border: 1px solid black;
}

.sideBarText{
    font-size: 15px;
    text-align: center;
}


.navItem{
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    display: block;
    text-align: center;
}

.settingsIcon{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;

}



h1,h2,h3,h4,input{
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 300;
}

td, tr, p{
     font-family: 'Open Sans', 'sans-serif';
     font-weight: 400;
 }

hr{
    border-color: #6C7A89;
}

/*.container-fluid{*/
/*border: 2px solid red;*/
/*}*/

.company-info-container{
    margin-top: 20px;
}

input.company-info-inputs{
    font-weight: 400;
}


.pageBody{
    margin-left: 325px;
    padding-right: 200px;
    /*border: 3px solid red;*/

    height: 100%;
    width: 95%;
}

.dash-content-tile{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 50px;

}

.dash-content-link{
    background-color: #3a539b;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;

}
.dash-content-link-text{
    background-color: #3a539b;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-weight: 400;
    color: white;
}

.pageHeading{
    font-size: 45px;
    text-align: center;
    margin-top: 3.5%;
}

.dash-content-wrapper{
    margin-top: 1%;
}

.landingHeading{
    text-align: center;
    font-size: 85px;
    margin-top: 5%;

}

.logcreateHeading{
    margin-top: 6%;
    text-align: center;
    margin-bottom: 3%;
    padding-top: 5%;
}

.form-control{
    height: 75px;
    font-size: 20px;
}

.btn-login{
    height: 60px;
    width: 100%;
    font-size: 25px;
    font-weight: 200;
    border-radius: 10px;
    margin-top: 15%;
}

.landingBody{

    background-color: #eceff2;
}

.loginOptions{
    text-align: center;
    margin-top: 7.5%;
}

.createAccountLink{
    margin-top: 25px;
}

.landingLoginLink{
    margin-top: 5%;
    text-align: center;
}

.containter-fluid{
    border-color: 2px solid blue;
}

.sidebarTiles{
    padding-top: 5%;
    padding-bottom: 5%;

}

.container-sidebar{
    margin-top: 10%;
}

.sidebarTileTop{
    background: green;
}

.sidebarTileTop{
    padding-top: 15%;
}

.usernameTile{
    margin-left: 10%;
}

.playerContainer{
    background: #22313f;
    margin-left: 0px;
    padding-left: 0px;


}

.playerTile{
    /*padding-top: 40px;*/
    color: white;
    font-size: 30px;
}

.optionTile{
    top: 0px;
}

.sidebarOptions{
    margin: 0px;
    padding: 0px;

}

.sidebarOptions li{
    list-style: none;
    height: 105px;
    background: #34495e;
    padding-top: 5px;
    text-align: left;
    padding-left: 0px;
    color: white;

}

.dashboardTile{
    /*padding-top: 30%;*/
    margin-top: 50px;
    padding-bottom: 10px;
}

.sidebarOptions li:hover{

    background-color: #446cb3;
}

.sidebarBottom {
    bottom: 0px;
    padding-top: 10%;
    padding-bottom:;
    position: absolute;
    width: 100%;
}

.btn-logout{
    width: 90px;
    border-radius: 5px;
}

.sidebarBottomContainer{
    margin-bottom: 20px;
    color: white;
}

.portfolio-options{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    font-weight: 100;
    margin-left: 0px;
    margin-right: 0px;
    margin-right: 0px;

}

.portfolio-tile{
    background-color: #67809f;
    border: 1px solid #67809f;
    margin-top: 15px;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
}



.portfolio-cashbalance-tile{
    background-color: #1b6d85;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.portfolio-rank-tile{
    background-color: #9acfea;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.portfolio-body{
    margin-top: 30px;
}

.portfolio-body-top-tile{
    margin-top: 35px;
}

.searchbar {
    height: 50px;
}

.leader-headings{
    font-size: 16px;
}

.ranking-col{
    width: 20%;
}

h3.tableHeadingPortfolio{
    padding-top: 5px;
}

a:hover{
    text-decoration: none;
}

li.dashboardTile.navItem{
    text-decoration: none;
    height: 70px;
    display: block;
    text-align: center;
    padding-top: 15px;
}
li.leaderboardTile.navItem{
    text-decoration: none;
    height: 70px;
    display: block;
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
}

li.marketTile.navItem{
    text-decoration: none;
    height: 70px;
    display: block;
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
}

li.portfolio-tile.navItem{
    text-decoration: none;
    height: 70px;
    display: block;
    text-align: center;
    margin-top: 0px;
}
li.portfolio-tile.navItem:hover{
    background-color: yellow;o
}
li.playerTile.navItem{
    text-decoration: none;
    height: 100px;
    display: block;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

li.bottomNav.navItem{
    text-decoration: none;
    height: 70px;
    display: block;
    text-align: center;
    margin-top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

li.logoutNav.navItem{
    text-decoration: none;
    height: 70px;
    display: block;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li:hover{
    text-decoration: none !important;

}

h4.sideBarText{
    margin-top: 0px;
}

.company-buysell{
    margin-top: 35px;
}

input.company-info-inputs:hover{
    cursor: default;
}

span.glyphicon.glyphicon-menu-left.pull-left{
    text-decoration: none !important;
    color: #22313F;
}
span.glyphicon.glyphicon-menu-left.pull-left:hover{
    text-decoration: none !important;
    cursor: pointer;
}

.cancelX{
    height: 75px;
    width: 100%;
    margin-top: 20px;
}

.confirmBtn{
    height: 75px;
    width: 100%;
    margin-top: 10px;
}


.glyphicon.glyphicon-ok-circle{
    font-size: 30px;
}

.glyphicon.glyphicon-remove-circle{
    font-size: 30px;
}

h3.buySellBtns{
    margin-top: 0px;
    font-weight: 400;
}

.company-buy-btn{
    height: 75px;
    width: 100%;
    margin-top: 15px;
}






